.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}


.search-button{
  background: lightslategray;
  border: none;
  padding: 10px 20px;
  color: white;
}

.cars-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 5%;
}

.search-model{
  width: 15%;
  display:inline-block;
  margin-right:10px;
  min-width: 15%;
}

.search-color{
  width: 15%;
  display:inline-block;
  margin-right:10px;
  min-width: 15%;
}

.search-elements{
  padding-right: 5%;
}

.form-search{
  display:inline-block;
}

